@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(to top, #ffffff 90%, #C2F2F2 10%);
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to top, #C2F2F2 1%, #ffffff 99%);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}
